@import "src/styles/variables";
@import "src/styles/utilities";

/* Main */

#top-providers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.provider-box {
  background-color: #000;
  width: 400px;
  height: 130px;
  border-radius: 5px;
  margin-bottom: 2rem;
  display: flex;
  padding: 15px;
}

.provider-img {
  width: 100px;
  height: 100px;
}

.provider-info {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

#see-all-btn {
  text-align: end;
}

.background-black {
  background-color: #000;
}