<body class="container text-white mt-5" style="background-color: #000;">
    <header class="">
        <a href="/">
            <img class="mb-4" src="../../../assets/img/logo.png" alt="" width="72" height="57">
        </a>
        <h1 class="yellow"> Churrasco Prime</h1>
    </header>
    <main>
        <form class="needs-validation">
            <div class="h4-esquerda form-signin">
                <div class=" row g-3 white">
                    <h2>Preencha os dados solicitados</h2>
                    <h4>Dados Pessoais</h4>
                    <div class="col-sm-6 white">
                        <label for="Nome" class="form-label">Nome completo</label>
                        <input type="text" class="form-control" id="Nome" required>
                    </div>
                    <div class="col-sm-6 white">
                        <label for="CPF" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="CPF" placeholder="000.000.000-00" required>
                    </div>
                    <div class="col-sm-6 white">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="Email" placeholder="email.@email.com.br" required>
                    </div>
                    <div class="col-sm-6 white">
                        <label for="Senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="Senha" required>
                    </div>
                    <div class="col-sm-6 white">
                        <label for="Telefone" class="form-label">Telefone</label>
                        <input type="password" class="form-control" id="Telefone" required>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="h4-esquerda form-signin white mt-3">
                <h4>Dados do Endereço</h4>
                <div class=" row g-3 white">
                    <div class="col-sm-6 white">
                        <label for="CEP" class="form-label">CEP</label>
                        <input type="text" class="form-control" id="CEP" placeholder="0000-000" required>
                    </div>

                    <div class="col-sm-6 white">
                        <label for="Rua" class="form-label">Rua</label>
                        <input type="text" class="form-control" id="Rua" required>
                    </div>

                    <div class="col-sm-6 white">
                        <label for="Quadra" class="form-label">Quadra</label>
                        <input type="text" class="form-control" id="Quadra" required>
                    </div>

                    <div class="col-sm-6 white">
                        <label for="Numero" class="form-label">Numero</label>
                        <input type="text" class="form-control" id="Numero" required>
                    </div>

                    <div class="col-sm-6 white">
                        <label for="Bairro" class="form-label">Bairro</label>
                        <input type="text" class="form-control" id="Bairro" required>
                    </div>

                    <div class="col-sm-6 white text">
                        <label for="lastName" class="form-label">Complemento</label>
                        <input type="text" class="form-control" id="Complemento">
                    </div>
                </div>
            </div>
        </form>

        <div class="text-center">
            <button class="btn btn-light btn-lg mt-4 text" type="submit">Cadastrar</button>
        </div>
    </main>

    <footer id="footer">
        <p class="mt-3 mb-3 text-muted">&copy; Churrasco Prime 2021</p>
    </footer>

</body>