<footer class="bd-footer">
  <div class="container">
    <div class=" row justify-content-between">

      <div class="col-md-5" id="about">
        <h1 style="color: #f2b727;">Churrasco Prime</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus eaque
          aliquid
          accusantium corporis
          illum vitae dolore est eum, non, nisi architecto totam officiis asperiores nulla reiciendis eos
          fugit
          similique ex.</p>
      </div>

      <div class="col-md-5">
        <h1 style="color: #f2b727;">Entre em Contato</h1>
        <h4><i class="fa fa-phone" aria-hidden="true" style="color: #f2b727;"></i>&nbsp;&nbsp;
          (65) 99999 9999</h4>
        <h4><i class="fa fa-envelope-o" aria-hidden="true" style="color: #f2b727;"></i>&nbsp;&nbsp;
          suporte@churrascoprime.com</h4>
        <div class="social-media-container">
          <a href="#"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
