
<header class="background-black" style="display: block;">
  <div class="pt-5">
    <nav class="navbar fixed-top background-black">
      <div class="container d-flex flex-wrap justify-content-end">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a type="button" class="btn btn-outline-light me-2" routerLink="/about-us">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a type="button" class="btn btn-outline-warning me-2" routerLink="/login">Entrar</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="containerjustify-content-center pt-5">
    <img src="../assets/img/logo.png" alt="Logo" class="rounded mx-auto d-block" width="200px">
    <h1 class="text-center text-yellow display-6">Churrasco prime</h1>
    <app-search></app-search>
  </div>
</header>
