<app-header></app-header>

<main style="background-color: #f2b727;" class="p-5 pt-3 mb-2">
  <h2 class="pb-2">Os Melhores do Churrasco Prime</h2>
  <section class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <a *ngFor="let provider of topProviders" (click)="navigateToProviderPage(provider.idProvider)" class="pointer">
        <div class="card mb-3 div-black" style="max-width: 440px; background-color: #000;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="{{'http://localhost:8080/churrascoprime/providers/image/' + provider?.name}}" alt="" class="img-thumbnail" width="100%"> 
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title text-white">{{provider.name}}</h5>
                <p class="text-white"><i class="fa fa-star text-warning"
                    aria-hidden="true"></i>&nbsp;&nbsp;{{provider.rating}}
                </p>
                <div *ngIf="provider.active; else notShow">
                  <p class="text-white"><i class="fa fa-circle text-success" aria-hidden="true"></i>&nbsp;&nbsp;Aberto
                  </p>
                </div>
                <ng-template #notShow>
                  <p class="text-white"><i class="fa fa-circle text-danger" aria-hidden="true"></i>&nbsp;&nbsp;Fechado
                  </p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
  <span class="m-2 btn btn-light float-end"><a class="text-dark" routerLink="/providers">Ver Todos</a></span>
  <br>
</main>

<app-footer></app-footer>
