<div class="main-content m-5" style="color: #fff">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Seus Pedidos</h3>

            <div *ngIf="orderHistoryList.length> 0" class="">
                <table class="table table-bordered" style="color: #fff">
                    <tr>
                        <th width="20%">Numero de rastreio do pedido</th>
                        <th width="10%">Preço Total</th>
                        <th width="10%">Quantidade Total</th>
                        <th width="10%">Data</th>
                    </tr>

                    <tr *ngFor="let tempOrderHistory of orderHistoryList">
                        <td>
                            <p>
                                {{ tempOrderHistory.orderTrackingNumber }}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ tempOrderHistory.totalPrice | currency: 'BRL' }}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ tempOrderHistory.totalQuantity }}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ tempOrderHistory.dateCreated | date : format : timezone : locale }}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- if order history is empty then display a message -->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders found.
            </div>

        </div>
    </div>
</div>