@import "/src/styles/variables";

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: $prime-black;
  justify-content: flex-end;
  z-index: 1;
  padding: 0.5rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  padding: 0.75rem;
  margin: 0 1rem;
}
