.fixed-bar {
//   overflow: hidden;
//   background: transparent;
background-color: #000;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  padding-bottom: 5px;
}

.img-size {
  height: 50px;
  width: 60px;
}
