<div class="container-fluid fixed-bar">
    <div class="d-flex pt-3 ">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="img-size" src="../assets/img/logo.png" alt="" width="100" height="92">
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a type="button" class="btn btn-outline-light" routerLink="/about-us">Sobre Nós</a>
              </li>
            <li class="nav-item"><a href="/login" class="btn btn-warning ms-2">Entrar</a></li>
            <li class="nav-item ms-2">
                <app-cart-status></app-cart-status>
            </li>
        </ul>
    </div>
</div>

