<!-- <a class="btn-back" routerLink=""><i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>
<nav id="navbar">
  <ul>
    <li><a href="#who">Sobre nós</a></li>
    <li><a href="/login" class="btn">Entrar</a></li>
  </ul>
</nav>

<header>
  <img src="../assets/img/logo.png" alt="Logo" id="logo">
  <h1 class="text-primary "> Churrasco Prime</h1>
  <app-search></app-search>
</header> -->

<!-- MAIN CONTENT-->
<router-outlet></router-outlet>

<!-- ENDS PAGE CONTAINER -->

<!-- <footer id="footer">
  <div class="about-section m-2">
    <h1 class="text-primary">Churrasco Prime</h1>
    <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus eaque aliquid
      accusantium corporis
      illum vitae dolore est eum, non, nisi architecto totam officiis asperiores nulla reiciendis eos fugit
      similique ex.</p>
  </div>
  <div class="contact-section m-2">
    <h1 class="text-primary">Entre em Contato</h1>
    <h4 class="text-white"><i class="fa fa-phone fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      (65) 99999 9999</h4>
    <h4 class="text-white"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;
      suporte@churrascoprime.com</h4>
    <div class="social-media-container">
      <a href="#"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</footer> -->
