<header class="background-black" style="display: block;">
    <div class="containerjustify-content-center pt-5">
        <img src="../assets/img/logo.png" alt="Logo" class="rounded mx-auto d-block" width="200px">
        <h1 class="text-center text-yellow display-6">Churrasco prime</h1>
    </div>
</header>

<main class="container">
    <div class="white fundo mb-5 pb-5">
        <div class="title-border">
            <h1 class="text-center m-3">Informações do time Churrasco Prime</h1>
        </div>
        <div class="text-center row m-5">
            <div class=" col border border-dark border-5 rounded-2 pb-5" style="width: 18rem;">
                <img src="../../../assets/img/Felipe.jpg" alt=""
                    class="border rounded-2 border-dark border-5 card-img-top mt-3" width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Felipe Alves</h5>
                    <p class="card-text text-dark">Aluno do 4° semestre de TAD</p>
                </div>
            </div>

            <div class=" col border border-dark border-5 rounded-2 pb-5 ms-5 me-5" style="width: 18rem;">
                <img src="../../../assets/img/#" alt=""
                    class="border rounded-2 border-dark border-5 card-img-top mt-3" width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Gabriel Bravo</h5>
                    <p class="card-text text-dark">Aluna do 5° semestre de TAD</p>
                </div>
            </div>

            <div class=" col border border-dark border-5 rounded-2 pb-5" style="width: 18rem;">
                <img src="../../../assets/img/Ana.jpg" alt=""
                    class="border rounded-2 border-dark border-5 card-img-top mt-3" width="300px" height="300px">
                <div class="card-body">
                    <h5 class="card-title">Ana Caroline</h5>
                    <p class="card-text text-dark">Aluna do 4° semestre de TAD</p>
                </div>
            </div>
        </div>

    </div>
</main>