<div class="text-center black mt-5 ">
  <header class="pt-5">
    <a href="/">
      <img class="mb-4" src="../assets/img/logo.png" alt="" width="72" height="57">
    </a>
    <h1 class="white"> Churrasco Prime</h1>
  </header>

  <main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal yellow">Entre</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Senha</label>
      </div>

      <div class="checkbox mb-3">
        <label class="white">
          <input type="checkbox" value="remember-me" class="$gray-100"> Manter conectado
        </label>
      </div>
      <div>
        <button class="btn btn btn-outline-warning me-2" type="submit">Entrar</button>
        <button type="button" class="btn btn-outline-warning">Cadastra-se</button>
      </div>
    </form>
  </main>

  <footer id="footer" class="pb-5">
    <p class="mt-5 mb-3 text-muted">&copy; Churrasco Prime 2021</p>
  </footer>

</div>