@import '/src/theme/colors.palette.scss';

.template-app {
  height: auto;
  min-height: 100vh;
  background: linear-gradient(to right, $light-green, $dark-green);
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    align-items: stretch;
    flex: 1;
  }
}
