<!-- <form class="search-form">
  <input name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="doSearch(searchInput.value)" type="search"
    placeholder="Buscar fornecedores..." class="search-bar">
</form>-->

<!-- Alinhado -->
<div class="row pb-5" style="margin-right: 0px">
  <div class="col-sm "></div>
  <div class="col" style="margin-right: 0px">
    <form class="ms-2 me-2">
      <input name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="doSearch(searchInput.value)"
        type="search" placeholder="Buscar fornecedores..." class="form-control border border-warning">
    </form>
  </div>
  <div class="col-sm ml-0 mr-0"></div>
</div>
