<!-- <form class="search-form">
  <input name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="doSearch(searchInput.value)" type="search"
    placeholder="Buscar fornecedores..." class="search-bar">
</form>-->

<!-- Alinhado -->
<div class="row pb-5">
  <div class="col-sm">
  </div>
  <div class="col">
    <form>
      <input name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="doSearch(searchInput.value)"
        type="search" placeholder="Buscar fornecedores..." class="form-control border border-warning">
    </form>
  </div>
  <div class="col-sm">
  </div>


</div>
