<div class="main-content page-m">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
  
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
  
          <!-- customer form group-->
          <div formGroupName="customer" class="form-area">
            <h3>Cliente</h3>

            <div class="row">
              <div class="col-md-2"><label>CPF</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="cpf" type="text">
  
                  <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)"
                    class="alert alert-danger mt-1">
                    <div *ngIf="cpf.errors.required || cpf.errors.notOnlyWhitespace">
                      CPF é obrigatorio
                    </div>
                    <div *ngIf="cpf.errors.minlength || cpf.errors.maxlength">
                      CPF tem que ser valido e 11 digitos
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2"><label>Primerio Nome</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="firstName" type="text">
  
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                    class="alert alert-danger mt-1">
                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                      Primeiro Nome é obrigatorio
                    </div>
                    <div *ngIf="firstName.errors.minlength">
                      Primeiro Nome tem que ter no minimo 2 caracteres
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2"><label>Ultimo Name</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="lastName" type="text">
  
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                      Ultimo Nome é obrigatorio
                    </div>
                    <div *ngIf="lastName.errors.minlength">
                      Ultimo nome tem que ter no minimo 2 caracteres
                    </div>
                  </div>
  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Telefone</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="telefone" type="text">
  
                  <div *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)"
                    class="alert alert-danger mt-1">
                    <div *ngIf="telefone.errors.required || cpf.errors.notOnlyWhitespace">
                      Telefone é obrigatorio
                    </div>
                    <div *ngIf="telefone.errors.minlength || telefone.errors.maxlength">
                      Telefone tem que ter entre 9 a 11 digitos
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2"><label>Email</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="email" type="text">
  
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="email.errors.required">
                      Email é obrigatorio
                    </div>
                    <div *ngIf="email.errors.pattern">
                      Email tem que ser um formato valido
                    </div>
                  </div>
  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Senha</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="password" type="password">
  
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="password.errors.required || password.errors.notOnlyWhitespace">
                      Senha é obrigatorio
                    </div>
                    <div *ngIf="password.errors.minlength">
                      Senha tem que ter no minimo 6 caracteres
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
          </div>
  
          <!-- Shipping Address -->
  
          <div formGroupName="address" class="form-area">
            <h3>Endereço de Entrega</h3>
  
            <div class="row">
              <div class="col-md-2"><label>Rua</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="street" type="text">
  
                  <div
                    *ngIf="addressStreet.invalid && (addressStreet.dirty || addressStreet.touched)"
                    class="alert alert-danger mt-1">
                    <div *ngIf="addressStreet.errors.required || addressStreet.errors.notOnlyWhitespace">
                      Rua é obrigatorio
                    </div>
                    <div *ngIf="addressStreet.errors.minlength">
                      Rua tem que ter no minimo 2 caracteres
                    </div>
                  </div>
  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Numero</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="streetNumber" type="text">
  
                  <div
                    *ngIf="addressStreetNumber.invalid && (addressStreetNumber.dirty || addressStreetNumber.touched)"
                    class="alert alert-danger mt-1">
                    <div *ngIf="addressStreetNumber.errors.required || addressStreetNumber.errors.notOnlyWhitespace">
                      Numero é obrigatorio
                    </div>
                  </div>
  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Bairro</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="neighborhood" type="text">
  
                  <div
                    *ngIf="addressNeighborhood.invalid && (addressNeighborhood.dirty || addressNeighborhood.touched)"
                    class="alert alert-danger mt-1">
                    <div *ngIf="addressNeighborhood.errors.required || addressNeighborhood.errors.notOnlyWhitespace">
                      Bairro é obrigatorio
                    </div>
                    <div *ngIf="addressNeighborhood.errors.minlength">
                      Bairro tem que ter no minimo 2 caracteres
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-2"><label>Cidade</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <!-- <input formControlName="city" type="text"> -->
                  <select formControlName="city" type="text">
                    <option></option>
                    <option *ngFor="let city of cities">
                     {{ city.idCity }}. {{ city.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>CEP</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="zipCode" type="text">
  
                  <div
                    *ngIf="addressZipCode.invalid && (addressZipCode.dirty || addressZipCode.touched)"
                    class="alert alert-danger mt-1">
                    <div
                      *ngIf="addressZipCode.errors.required || addressZipCode.errors.notOnlyWhitespace">
                      CEP é obrigatorio
                    </div>
                    <div *ngIf="addressZipCode.errors.minlength">
                      CEP tem que ter no minimo 2 caracteres
                    </div>
                  </div>
  
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"><label>Complemento</label></div>
              <div class="col-md-9">
                <div class="input-space">
                  <input formControlName="complement" type="text">  
                </div>
              </div>
            </div>
  
          </div>      
  
          <!-- Order Details-->
          <div class="form-area">
            <h3>Seu Pedido</h3>
  
            <p>Quantidade Total: {{ totalQuantity }}</p>
            <P>Taxa de Entrega: R$10.00</P>
            <p>Preço Total: {{ totalPrice + 10 | currency: 'USD' }}</p>
          </div>
  
  
          <!-- submit button -->
          <div class="text-center">
            <button type="submit" class="btn btn-dark">Comprar</button>
          </div>
  
  
        </form>
  
      </div>
    </div>
  </div>

  <app-footer></app-footer>