<header id="background">
  <div class="">
    <app-small-header></app-small-header>
    <div class="container">
      <div class="me-md-3 px-3 px-md-5 text-center text-white overflow-hidden">

        <div class="card mb-3 div-black">
          <h1>{{provider?.name}}</h1>
          <div class="row g-0">
            <div class="col-md-4 mb-3">
              <img src="{{'http://localhost:8080/churrascoprime/providers/image/' + provider?.name}}"
                class="img-thumbnail" alt="logo provider">
            </div>
            <div class="col-md-8">
              <div class="card-body row">
                <div class="col-4 lower-div cor-yellow">
                  <h3>Tempo de espera</h3>
                  <span class="cor-white">35Min</span>
                </div>
                <div class="col-4 lower-div cor-yellow">
                  <h3>Nivel de estrelas</h3>
                  <span class="cor-white"><i class="fa fa-star text-warning"
                      aria-hidden="true"></i>&nbsp;&nbsp;{{provider?.rating}}</span>
                </div>
                <div class="col-4 lower-div cor-yellow">
                  <h3>Situação</h3>
                  <div>
                    <div *ngIf="provider?.active; else notShow">
                      <p class="text-white"><i class="fa fa-circle text-success"
                          aria-hidden="true"></i>&nbsp;&nbsp;Aberto
                      </p>
                    </div>
                    <ng-template #notShow>
                      <p class="text-white"><i class="fa fa-circle text-danger"
                          aria-hidden="true"></i>&nbsp;&nbsp;Fechado
                      </p>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main id="yellow-main" class="pb-5">
  <div class="container" id="simple-border">
    <div class="row g-3">
      <div class="col">
        <div>
          <button *ngFor="let cat of categoriesTypes" type="button" class="btn btn-dark me-3 mb-2"
            (click)="scroll(cat.name)">
            {{cat.name}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <section class="container">
    <div *ngFor="let category of categories" class="simple-border-2" id="{{category.name}}">
      <div class="pt-3">
        <h2>{{category.name}}</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <a *ngFor="let product of category.products">
          <div class="card mb-3 div-black col" style="max-width: 440px;">
            <div class="row g-0">
              <div class=" col-md-6">
                <img src="{{'http://localhost:8080/churrascoprime/products/image/' + product?.name}}" alt=""
                  class="img-thumbnail">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title text-white">{{product.name}}</h5>
                  <p class="card-text text-white">{{product.description}}</p>
                  <p class="card-text text-white text-end">{{product.unitPrice}}</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button (click)="addToCart(product)" type="button" class="btn btn-light">Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </section>

</main>

<a id="fixedbutton" (click)="scrollToTop()" class="scrollToTop"><i class="fa fa-chevron-up fa-2x btn-top"
    aria-hidden="true"></i></a>

<app-footer></app-footer>